[package]
name = "roblox_booster"
version = "1.0.0"
edition = "2024"
rust-version = "1.85.0"

[dependencies]
eframe = "0.30"
egui = "0.30"
sysinfo = "0.33"

[target.'cfg(windows)'.dependencies]
windows = { version = "0.58", features = [
    "Win32_Foundation",
    "Win32_System_Threading",
    "Win32_UI_Shell",
] }

[profile.release]
opt-level = 3
lto = true
codegen-units = 1
strip = true